<div class='header'>
<%= link_to root_path do %>
<img class='return-arrow' src="https://storage.googleapis.com/smartphoto-express-production-wp-blogs-com/9/2018/01/Arrow-left-white-1024x680.png" alt="return-arrow">
<% end %>
<h2 class='header-text'>Register</h2>
</div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
  <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: 'Full Name', class: 'input-tab' %>
</div>

  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Email', class: 'input-tab' %>
  </div>

  <div class="field">
    <%= f.password_field :password, autocomplete: "new-password", placeholder: 'Password', class: 'input-tab' %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: 'Confirm Password', class: 'input-tab' %>
  </div>

  <div class="actions btn-container">
    <div class='border'>
    <%= f.submit "Sign up", class: 'action-btn btn' %>
    </div>
  </div>
<% end %>

<div class='actions-container'>
<%= render "devise/shared/links" %>
</div>
